@import "luna-setting/luna-setting.css";

#container {
  max-width: 1000px;
  padding: 14px 0;
  margin: 0 auto;
}

.luna-setting {
  color: var(--vscode-foreground);
  background: transparent;
}

.luna-setting-item {
  padding: 12px 14px 18px;
  &.luna-setting-item-html {
    padding: 0;
  }
  line-height: 1.4em;
  .luna-setting-title {
    margin-bottom: 2px;
  }
  &:hover, &.luna-setting-selected {
    background: var(--vscode-settings-rowHoverBackground);
  }
  &.luna-setting-selected:focus {
    outline-color: var(--vscode-settings-focusedRowBorder);
  }
  .luna-setting-control, .luna-setting-description {
    font-size: 13px;
  }
  .luna-setting-description, .markdown {
    code {
      line-height: 15px;
      font-family: var(--monaco-monospace-font);
      color: var(--vscode-textPreformat-foreground);
    }
    a {
      color: var(--vscode-textLink-foreground);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .markdown {
    * {
      margin: 0;
    }
  }
  input {
    &:focus {
      outline-color: #007fd4;
      outline-width: 1px;
      outline-style: solid;
      outline-offset: -1px;
      opacity: 1;
    }
  }
}

.luna-setting-item-title {
  padding: 10px 10px 10px 15px;
  color: var(--vscode-settings-headerForeground);
  font-size: 26px;
  font-weight: 600;
}

.luna-setting-item-input {
  input {
    color: var(--vscode-settings-textInputForeground);
    background: var(--vscode-settings-textInputBackground);
    border-color: var(--vscode-settings-textInputBorder, transparent);
    width: 420px;
    padding: 4px 6px;
  }
}

.luna-setting-item-select {
  .luna-setting-select {
    select {
      width: 320px;
      color: var(--vscode-settings-textInputForeground);
      border-color: rgb(206, 206, 206);
      background: var(--vscode-settings-textInputBackground);
    }
    &:after {
      border-top-color: var(--vscode-settings-textInputForeground);
    }
  }
}

.luna-setting-item-checkbox {
  input {
    height: 18px;
    width: 18px;
    margin-top: 0;
    border-color: var(--vscode-settings-checkboxBorder);
    background-color: var(--vscode-settings-checkboxBackground);
    &:checked {
      border-color: #007fd4;
      background-color: #007fd4;
    }
  }
}

.luna-setting-item-number {
  input[type='number'] {
    padding: 4px 6px;
    width: 200px;
    color: var(--vscode-settings-numberInputForeground);
    background-color: var(--vscode-settings-numberInputBackground);
    border-color: var(--vscode-settings-numberInputBorder, transparent);
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}

.luna-setting-item-button {
  button {
    padding: 2px 14px;
    margin-top: 4px;
    color: var(--vscode-button-foreground);
    background: var(--vscode-button-background);
    border-color: var(--vscode-button-border, transparent);
    &:hover,
    &:active {
      background: var(--vscode-button-hoverBackground); 
    }
  }
}

.item-markdown {
  padding: 12px 14px;
}

.vscode-dark {
  .luna-setting-item-select {
    .luna-setting-select {
      select {
        border-color: var(--vscode-settings-textInputBackground);
      }
    }
  }
  .luna-setting-item-checkbox {
    input {
      &:checked {
        border-color: var(--vscode-settings-checkboxBorder);
        background-color: var(--vscode-settings-checkboxBackground); 
      }
    }
  }
}